
body{
    display: block;
    background-image: url(images/pikachu-wallpaper.jpg);
    background-size:cover;
}

#wallpaper{
    object-fit: cover;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.logo {
    height: 200px;
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body{
        display: block;
        background-image: url(images/bulbasaur.jpeg);
        background-size:cover;
    }
    
    #wallpaper{
        object-fit: cover;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .logo {
        height: 200px;
    }
}

@media only screen and (max-width: 400px) {
    body{
        display: block;
        background-image: url(images/charizard.jpg);
        background-size:cover;
    }
    
}