body{
    display: block;
    background-image: url(images/pikachu-wallpaper.jpg);
    background-size:cover;
}

#wallpaper{
    object-fit: cover;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*@media only screen and (max-width: 400px) {
    body {
        background-image: url('images/bulbasaur.jpeg');
    }
    
} */